@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        
        -webkit-transform: translateX(calc((-600px * 9)));
        transform: translateX(calc((-600px * 9)));
    }
    
}
@keyframes scroll2 {
    0% {
        -webkit-transform: translateX(calc((200px * 6)));
        transform: translateX(calc((200px * 6)));
    }
    100% {
        -webkit-transform: translateX(calc((-200px * 6)));
        transform: translateX(calc((-200px * 6)));
    }
}
@keyframes translateNavOpen {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes translateNavClose {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-400px);
    }
}
body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}
.Header-content{
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.50);
    border-bottom: 5px var(--c1) solid;
}
.Header-background-image{
    width: 100%;
    position: absolute;
}
.content-group{
    position: relative;
    z-index: 10;
}
.orange-lines-logo{
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}
.orange-lines {
    width: 2000px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(18, minmax(auto, 1fr));
    grid-template-rows: 600px;
    animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    
}
.orange-lines img {
    object-fit: contain;
    height: 600px;
}
.aboveHeader{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    border-radius: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logotype{
    width: clamp(340px,50vw,540px);
    margin-bottom: 20px;

}
.phrase{
    width: clamp(260px,50vw,300px);
    margin-bottom: 10px;
    background-color: var(--b);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.50);
}
.navCel{
    background-color: var(--b);
    width: 300px;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 300;
    padding: 15px 0 0 10px;
}
.imgNav img{
    width: 40px;
    cursor: pointer;
}
.menu ul{
    margin: 0;
    margin-top: -20px;
}
.menu  li a{
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
    color: var(--w);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
li{
    margin: 30px 0;
}
.inside-links{
    height: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.icon-red{
    object-fit: cover;
    width: clamp(30px, 8vw,40px);
}
.Nav-bar{
    background-color: var(--b);
    display: flex;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 30;
    transition:all .2s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);

}
.first-mid{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: left;
}
.second-mid{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
.second-mid img:nth-child(1){
    display: none;
}

.second-mid img:nth-child(2){
    width: clamp(250px,30vw,380px);
}

.Nav-bar-first-mid{
    display: flex;
    gap: 20px;
    padding-left: 10px;
}
.Nav-bar-first-mid {
    list-style: none;
}
.Nav-bar-first-mid  li a{
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
    color: var(--w);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.Nav-bar-first-mid  li a::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--c1);
    transition: width 0.25s ease-out;
    border-radius: 20px;
}

.Nav-bar-first-mid  li a:hover:before{
    width: 100%;
    left: 0;
    right: auto;
}
.bussines-description{
    width: 100%;
    padding: 0 90px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "Description Description"
                         "Mision Vision";
}
.titleBussines{
    margin: 60px 0;
    width: 100%;
    text-align: center;
}
.BoxDetails{
    text-align: center;
    padding: 18px 40px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.BoxDetails p{
    line-height: 30px;
    margin-top: 30px;
    font-weight: 500;
}
.description1{
    grid-column-start:Description;
    grid-column-end: Description;
}
.description2{
    grid-column-start: Mision;
    grid-column-end: Mision;
}
.description3{
    grid-column-start:Vision;
    grid-column-end: Vision;
}
.bussines-services{
    width: 100%;
    margin: 0 auto;
    height: fit-content;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
   
}

.bussines-services .title{
    width: 100%;
    margin-top: 50px;
    grid-column-start: title;
    grid-column-end: title;
    text-align: center;
}
.BoxDetails2{
    width: clamp(350px,50vw,580px);
    overflow: hidden;
    box-sizing: border-box;
    padding: 18px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-weight: 700;
}

.bussines-jobs{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 80px;
}
.title2{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.boxSlider{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.job-description{
    width: clamp(350px,50vw,550px);
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.25);
}
.job-description h3{
    margin-left: 20px;
}
.slider{
    grid-column-start: title;
    width: clamp(350px,50vw,520px);
    height: clamp(400px,50vw,400px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.40);
}
.slide{
    width: 500%;
    height: 400px;
    display: flex;
}
.slide input{
    display: none;
    
}
.st{
    width: 20%;
    transition: 2s;
    overflow: hidden;
    box-sizing: border-box;
    
}
.st img{
    width: clamp(350px,50vw,520px);
    height: clamp(400px,50vw,400px);
    object-fit: contain;
}

/* 1 carrousel  */
#radio1-1:checked ~ .first-1 {
    margin-left: 0;
}

#radio2-1:checked ~ .first-1 {
    margin-left: -20%;
}

#radio3-1:checked ~ .first-1 {
    margin-left: -40%;
}

#radio4-1:checked ~ .first-1 {
    margin-left: -60%;
}

/* 2 carrousel  */
#radio1-2:checked ~ .first-2 {
    margin-left: 0;
}

#radio2-2:checked ~ .first-2 {
    margin-left: -20%;
}

#radio3-2:checked ~ .first-2 {
    margin-left: -40%;
}

#radio4-2:checked ~ .first-2 {
    margin-left: -60%;
}
#radio5-2:checked ~ .first-2 {
    margin-left: -80%;
}

/* 3 carrousel */

#radio1-3:checked ~ .first-3 {
    margin-left: 0;
}

#radio2-3:checked ~ .first-3 {
    margin-left: -20%;
}

#radio3-3:checked ~ .first-3 {
    margin-left: -40%;
}

#radio4-3:checked ~ .first-3 {
    margin-left: -60%;
}
#radio5-3:checked ~ .first-3 {
    margin-left: -80%;
}
.companys{
    margin-bottom: 60px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 10px;
}
.Logo-bussines-slide{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.40);
    border-radius: 15px;
}
.slide-track{
    padding: 20px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    animation: scroll2 30s linear infinite;
    -webkit-animation: scroll2 30s linear infinite;
    width: calc(200px * 6);
    min-width: calc(200px * 6);
    gap: 30px;
}
.img-slide{
    height: 80px;
}
.img-slide img{
    height:100%;
    object-fit: cover;
}
.footer{
    background-color: var(--b);
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
}
.first-footer{
    margin-top: 10px;
}
.first-footer img{
    width: clamp(340px,50vw,440px);
}
.first-footer, .second-footer{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.third-footer{
 
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;

}
.first-footer :nth-child(2){
    margin-top: 5px;
    width: 300px;
    font-family: jet;
}
.second-footer h2{
    text-align: center;
    color: var(--w);
    font-weight: 300;
    font-family: 'JetBrains Mono', monospace;
}
.social-red{
    flex-direction: row;
    display: flex;
    align-items: center;
}
.social-red img{
    width: 40px;
    margin-right: 30px;
    object-fit: contain;
    border-radius: 100%;
    aspect-ratio: 1/1;
    
}
.social-red p{
    color: var(--w);
    text-decoration: underline;
    text-decoration-color: var(--w);
}
@media (max-width: 800px){
    .bussines-description{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .first-mid{
        display: none;
    }
    .second-mid img:nth-child(1){
        display: block;
        width: 40px;
        cursor: pointer;
    }
    .second-mid{
        justify-content: space-between;
        padding-left: 10px;
        width: 100%;
    }
    .second-footer{
        display: none;
    }
}
@media (max-width: 600px){
    .Background-image{
       display: none;
    }
    .Filter-box{
        display: none;
    }
}


